$primary: #255585;
$secondary: #e6644a;
$dark: #25312e;
$light: #f3f6f5;
$td-enable-google-fonts: false;
$font-family-sans-serif: "Trebuchet MS", "Verdana", sans-serif;
$font-family-monospace: "SFMono-Regular", "Consolas", monospace;
$border-radius: 0.25rem;
